@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #C4C4C4;
  padding: 0 20px;
}

::selection{
  color: #fff;
  background: #C4C4C4;
}

.wrapper{
  max-width: 550px;
  margin: 150px auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
}

.wrapper .input-wrapper{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.input-wrapper input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.input-wrapper.active input{
  border-radius: 5px 5px 0 0;
}

.input-wrapper .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.input-wrapper.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.input-wrapper.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.input-wrapper .btnSearch{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.text{
    margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 150px auto;
}

ul {
  list-style: none;
  margin: 150px auto;
}

ul li {
  width: 100%;
  background: #fff;
  line-height: 40px;
  padding: 0px 120px;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  text-align: center;
  background: rgb(57, 131, 243);
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
}

.quantity {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  text-align: center;
  background: rgb(0, 0, 0);
  color: #fff;
  border-radius: 10px 0px 0px 10px;
}

.plus-quantity .minus-quantity {
  position: absolute;
  top: 0;
  width: 50px;
  text-align: center;
  background: rgb(0, 0, 0);
  color: #fff;
  border-radius: 10px 0px 0px 10px;
}

.quantity--overlay {
  opacity: 0.5;
}


img {
  position: absolute;
  top: 0;
  left: 50px;
}

.button-storeselect, .button-pathway {
  width: 80px;
  margin: auto;
  left: 40%;
  font-size: 20px;
  text-align: center;
  background: #000;
  color: #fff;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  border-radius: 10px;
}

.button-grocerylist, .button-backtostoreselect {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  background: #000000;
  color: #fff;
  line-height: 40px;
  position: inline-block;
  cursor: pointer;
  justify-content: center;
  border-radius: 50px;
}

.button-share {
  width: 80px;
  height: 40px;
  font-size: 13px;
  text-align: center;
  background: #000000;
  color: #fff;
  line-height: 40px;
  position: inline-block;
  cursor: pointer;
  justify-content: center;
  border-radius: 50px;
}

.hidden {
  display: none;
}

.store-items {
  width: 100%;
  background: #fff;
  line-height: 50px;
  padding: 0px 110px;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.button-filter, .button-sort {
  font-family: 'Poppins', sans-serif;
  width: 80px;
  margin: 20px;
  left: 25%;
  font-size: 15px;
  text-align: center;
  background: #000000;
  color: #fff;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  display:inline;
}

.storeimg {
  left: 10px;
  height: 50px;
  top: 25px;
}

.storename, .selected-store {
  font-weight: bold;
  font-size: 16px;
}

.storeadress, .distance {
  font-weight: normal;
  position: absolute;
  left: 180px;
  font-size: 14px;
}

.price {
  font-weight: bold;
  font-size: 20px;
}

.pathimg {
  position: relative;
  width: 400px;
}

.filter {
  width: 300px;
  left: 40%;
  text-align: center;
  background: #fff;
  line-height: 40px;
  padding:10px;
  position: absolute;
  margin: 5px 0;
  font-size: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  z-index: 10;
}